img {
  display: block;
  width: 100%;
  height: auto;
}

.masthead-wrapper {
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.81)),
      to(rgba(243, 129, 129, 0.81))
    ),
    url("../images/banner.jpg");
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.81) 0%,
      rgba(243, 129, 129, 0.81) 100%
    ),
    url("../images/banner.jpg");
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.81) 0%,
      rgba(243, 129, 129, 0.81) 100%
    ),
    url("../images/banner.jpg");
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.81) 0%,
      rgba(243, 129, 129, 0.81) 100%
    ),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background: url("../images/banner@2x.jpg");
  }
}
.container {
  max-width: 1200px;
  margin: auto;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 1000px;
}

.masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.logo {
  display: inline-block;
  color: var(--primary-white-color);
  font-family: var(--primary-font-stack);
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.logo span {
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav__item {
  display: inline-block;
  margin-left: 60px;
}

.nav__item:first-child {
  margin-left: 0;
}
.nav__item:last-child {
  margin-left: 30px;
}


.nav__link {
  display: block;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  color: var(--primary-white-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link:hover {
  color: var(--yellow-color);
  border-color: var(--yellow-color);
}
.nav__busket {
  display: inline-block;
  fill: var(--primary-white-color);
  height: 15px;
  width: 15px;
  /*background-image: url("../images/icon/icon-busket.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}
.nav__search {
  display: inline-block;
  fill: var(--primary-white-color);
  height: 15px;
  width: 15px;
 /* background-image: url("../images/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}
.nav__busket:hover {
  fill: var(--yellow-color);
}
.nav__search:hover {
  fill: var(--yellow-color);
}
/* HERO */
.baner__hero {
  width: 840px;
  text-align: center;
  margin: auto;
}
.hero__promo {
  display: block;
  color: var(--primary-white-color);
  font-family: var(--accent-font-stack);
  font-size: 72px;
  font-weight: 400;
}
.hero__title {
  margin-bottom: 120px;
  margin-top: 50px;
  color: var(--primary-white-color);
  font-family: var(--primary-font-stack);
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
}

.hero__btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 3px solid white;
  color: var(--primary-white-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/* TEAM */

.team-wrapper {
  background-color: #ffffff;
}
.service-wrapper {
  background-color: #ffffff;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.header__baner {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
}

.header__caption {
  display: block;
  margin-bottom: 24px;
  color: #333;
  font-family: var(--accent-font-stack);
  font-size: 24px;
  font-weight: 400;
}

.header__title {
  margin-bottom: 46px;
  color: #333;
  font-family: var(--primary-font-stack);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top:0px;
}

.header__title::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  background-color: #f38181;
}

.header__text {
  color: #999;
  font-family: var(--secondary--font-stack);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin:0px;
}

/* TEAM LIST */

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.team-card {
  background-color: var(--aqua-color);
}

.team-card:hover .team-card__content {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.team-card:hover .team-card__content::after {
  opacity: 1;
}

.team-card:hover .team-card__icons {
  opacity: 1;
}

.team-card__content {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-card__content::after {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  content: "";
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.81)),
    to(rgba(243, 129, 129, 0.81))
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.81) 0%,
    rgba(243, 129, 129, 0.81) 100%
  );
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team-card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team-card__icon {
  display: inline-block;
  margin-right: 2px;
  background-color: var(--yellow-color);
  fill: var(--pink-color);
}

.team-card__icon:last-child {
  margin-right: 0;
}

.team-card__icon:hover {
  background-color: var(--pink-color);
  fill: var(--yellow-color);
}

/*.team-card__icon:hover > svg {
  fill:var(--primary-white-color);
  fill:var(--pink-color);
}

.team-card__icon > svg {
  display: inline-block;
  height: 56px;
  width: 56px;
  fill: var(--pink-color);
}*/

.team-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 0;
  background-color: #ffffff;
  margin:0px;
}

.team-card__name {
  display: block;
  margin-bottom: 16px;
  color: var(--primary-dark-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.team-card__pos {
  display: block;
  color: var(--secondary-dark-color);
  font-family: var(--secondary-font-stack);
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}
/* SERVICE LIST */

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
  padding-left: 70px;
}
.service-list__item:nth-child(-n+3){
  margin-bottom: 60px;
}
.service {
  padding-bottom: 0px;
}
.service-list__img{
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  content: "";
}

.service-list__title {
  color: #333;
  font-family: var(--primary-font-stack);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.service-list__text {
  color: var(--secondary-dark-color);
  font-family: var(--secondary--font-stack);
  font-size: 16px;
  font-weight: 400;
}
.main-footer__baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.main-footer__info {
  color: #333;
  font-family: var(--primary-font-stack);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  text-align: center;
}
.container team {
  border-bottom: 5px solid #999999;
}
.main-footer__send-email {
  background: var(--blue-color);
  color: var(--primary-white-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  width: 150px;
  height: 40px;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.main-footer__info span {
  color: #f38181;
}
.main-footer__contact-email {
  width: 230px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--secondary--font-stack);
  font-style: italic;
  color: var(--secondary-dark-color);
  padding: 0px;
  border: 1px solid #e5e5e5;
}